* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#main-container {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  line-height: 1.4;
  font-weight: 400;

  min-height: 100vh;
}

nav {
  padding: 0px 24px;
  margin: 15px 0px 5px 0px;

  height: 50px;
  width: 100%;
}
nav li {
  list-style-type: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.sameClass {
  margin: 12px 0px;
  padding: 0px 12px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}
.sameClass:hover {
  color: #5624d0;
  cursor: pointer;
}
.Search {
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  background-color: #f7f9fa;
  height: 48px;
  font-size: 1.4rem;
  line-height: 1.4;
  padding-right: 24px;
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
}
.searchIcon {
  object-fit: scale-down;
}
input {
  height: 100%;
  flex: 1;

  border: none;
  background-color: #f7f9fa;
}
input::placeholder {
  font-size: 1.1em;
}
.cart {
  margin: 12px 0px;
  padding: 0px 12px;
}
.cart:hover {
  color: #5624d0;
  cursor: pointer;
}
.logIn {
  color: #1c1d1f;
  background-color: white;
  border: 1px solid #1c1d1f;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  padding: 10px 16px;
  text-decoration: none;
}
.logIn:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}
.signUp {
  color: white;
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  padding: 10px 16px;
  text-decoration: none;
}
.logIn:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}
.world-space {
  color: #1c1d1f;
  background-color: white;
  border: 1px solid #1c1d1f;
  padding: 7px;
}
.world-space:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}
/* first section */
.cyberSale {
  max-width: 134rem;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-image: url("./Images/people.jpg");
  background-size: cover;
  padding: 30px 0px 0px 40px;
  margin-bottom: 48px;
}

.cyberSalesText {
  padding: 24px;
  background-color: white;
  width: 400px;
  height: 180px;
}
.cyberSalesText h1 {
  font-size: 32px;
  color: #1c1d1f;
  margin-bottom: 8px;
  letter-spacing: -1px;
  line-height: 1.25;
}
.cyberSalesText p {
  font-size: 18px;
  color: #1c1d1f;
  line-height: 1.4;
  font-weight: 400;
}

/* broadSelection Section */
.broadSelection {
  padding: 0px 24px;
}
.broadSelection h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -1px;
  color: #1c1d1f;
}
.broadSelection p {
  margin-top: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  color: #1c1d1f;
}
.tabSelection {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}
.python {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 16px;
  color: #1c1d1f;
  padding: 8px 4px;
  height: 48px;
}
.pythonSpan {
  padding: 8px 4px;
  color: #6a6f73;
  font-size: 16px;
  height: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.pythonSpan:hover {
  cursor: pointer;
  color: #1c1d1f;
}
/* career Python Style */
.careerPythonContainer {
  border: 1px solid #d1d7dc;
  padding: 32px;
  margin-top: 15px;
}
.careerPythonText {
  margin-bottom: 32px;
}
.careerPythonText h2 {
  color: #1c1d1f;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: 700px;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.careerPythonText p {
  color: #1c1d1f;
  margin: 0px 0px 16px;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  max-width: 800px;
  width: 100%;
}
.pythonButton {
  width: 140px;
  height: 40px;
  background-color: white;
  border: 1px solid #1c1d1f;

  padding: 0px 12px;

  color: #1c1d1f;
}
.pythonButton span {
  color: #1c1d1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
.pythonButton:hover {
  cursor: pointer;
  background-color: #d1d7dc;
}
/* pythonCardsContaine */
.pythonCardsContainer {
  width: 100%;
  height: 284px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px 24px;
  overflow-y: hidden;
}
.completePythonCard {
  width: 230px;
  height: 240px;
}
.completePythonCard h3 {
  margin: 8px 0px 4px 0px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 16px;
}
.completePythonCard p {
  font-weight: 400;
  line-height: 1.4;
  font-size: 12px;
  margin: 0px 0px 4px 0px;
  color: #6a6f73;
}
.rating {
  display: flex;
  align-items: center;

  gap: 5px;
  margin-bottom: 5px;
}
.rating span {
  font-size: 14px;
}
.gold {
  color: darkgoldenrod;
  font-weight: 900;
}
.lastPrice {
  color: #6a6f73;
}
.boldPrice {
  font-weight: bold;
  font-size: 16px;
  color: #1c1d1f;
  padding-right: 5px;
}
.slashPrice {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 16px;
}
.cardImage {
  border: 1px solid #6a6f73;
}
.bestSeller {
  background-color: #eceb98;

  width: 85px;
}
.bestSeller p {
  color: #1c1d1f;
  padding: 4px 8px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2px;
  font-size: 12px;
}

/* sectionSkill Flex style */
.skillsFlex {
  margin: 64px 0px;
  width: 100%;
  height: 105px;
  padding: 24px 20px 0px;
  background-color: #f7f9fa;
}
.skillsFlexCont {
  display: flex;
  justify-content: space-between;
}
.skill {
  display: flex;
  gap: 10px;
}
.playIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d7dc;
}
.skill p {
  color: #1c1d1f;
  font-weight: 700;
  letter-spacing: -0.2px;
  font-size: 16px;
  width: 267px;
}

.courseExpert {
  display: flex;
  gap: 10px;
}
.starIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d7dc;
}
.courseExpert p {
  color: #1c1d1f;
  font-weight: 700;
  letter-spacing: -0.2px;
  font-size: 16px;
  width: 267px;
}

.accessGadget {
  display: flex;
  gap: 10px;
}
.infiteIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d7dc;
}
.accessGadget p {
  color: #1c1d1f;
  font-weight: 700;
  letter-spacing: -0.2px;
  font-size: 16px;
  width: 350px;
}
/* studentViewing Section */
.studentViewing {
  /* margin: 0px 24px; */
  padding: 0px 24px;
  margin: 64px 0px 96px;
}
.studentViewingCont {
  width: 1000px;
  height: 284px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.studentViewing h2 {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.2px;
  font-size: 24px;
  color: #1c1d1f;
  padding-bottom: 20px;
}
.completeWebDevelopmentCard {
  width: 250px;
  height: 293px;
}
.completeWebDevelopmentCard h3 {
  margin: 8px 0px 4px 0px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 16px;
}
.completeWebDevelopmentCard p {
  font-weight: 400;
  line-height: 1.4;
  font-size: 12px;
  margin: 0px 0px 4px 0px;
  color: #6a6f73;
}

/* featureCategoryStyle */
.featuredCategory {
  width: 100%;
  height: 470px;
  margin-top: 64px;
  background-color: #f7f9fa;
  padding: 64px 24px;
}
.featuredCategory h2 {
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 24px;
  color: #1c1d1f;
}
.flexCategory {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featuredCategory h3 {
  margin-bottom: 5px;
  color: #1c1d1f;
  font-size: 19px;
}
.featuredCategory a {
  color: #5624d0;
  font-weight: 700;
  font-size: 18px;
}
.featuredCategory a:hover {
  cursor: pointer;
}
.featuredCategory p {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.4;
  color: #6a6f73;
}

.development,
.business,
.software,
.design {
  margin-bottom: 24px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

 .exploreLink{
  margin-top: 15px;
 }


.exploreLink a{
  border: 1px solid #1c1d1f;
  padding: 12px;
  margin-top: 10px;
  text-decoration: none;
  color: #1c1d1f;
  font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-size: 14px;
}
.exploreLink a:hover{
  cursor: pointer;
  background-color: whitesmoke;
}

/* instructorSection */
.instructorSection{
  margin-top: 64px;
  
}
.instructorContainer{
  display: flex;
  align-items:center;
  padding: 40px 0px;

  gap: 60px;
  width: 900px;
  margin: 0 auto;
}
.instructorText h2{
  font-weight: 700;
  font-size: 35px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin-bottom: 16px;
  color: #1c1d1f;
}
.instructorText p{
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: #1c1d1f;
}
.startButton{
  padding-top: 20px;
}
.instructorText a{
  border: 1px solid #1c1d1f;
  padding: 12px;

  text-decoration: none;
  color: #1c1d1f;
  font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-size: 16px;
    background-color: #1c1d1f;
    color: white;
}

/* trustedSection */
.trustedSection{
  margin-top: 64px;
  margin-bottom: 96px;
  padding: 32px;
  background: #f7f9fa;
 
  width: 100%;
  height: 195px;
}
.trustedCont h2{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.2px;
  color: #1c1d1f;
 
  text-align: center;
}
.trustedCont p{
  margin: 8px 0px 24px;    
  font-weight: 400;
  line-height: 1.4;
  font-size: 18px;
  color: #1c1d1f;
  text-align: center;
}
.trustedLogos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px -90px;
}

/* udemyBusinessSection */
.udemyBusiness{
  width: 192px ;
  height:32px;
}
.udemyBusinessLogo{
  margin-bottom: 16px;
}
.udemyBusinessText{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.instructorUdemyContainer{
  display: flex;
  align-items:center;
  padding: 40px 0px;

  gap: 60px;
  width: 900px;
  margin: 0 auto;
}


